.bg-ger {
    background-color: red;
}

/* .z-ger {
    z-index: 1;
} */

footer .texto {
    background-color: brown;
}

footer .redes {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

