.bg-ger {
    background-color: rgb(67, 178, 212);
}


/* .z-ger {
    z-index: 1;
} */

footer .texto {
    background-color: rgb(79, 42, 212);
    color: black;
    font-size:large;
    font-weight: bold;
}

footer .redes {
    background-color: rgb(32, 129, 204);
    display: flex;
    flex-direction: column;
    justify-content: center;
   list-style-type: none;
    align-items: center;
    
   
    
}

footer li a {
    text-decoration: none;
    color: black;
    font-size:large;
    font-weight: bold;
}

.nav-link {
    color: rgb(230, 167, 167);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
